.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#search {
    background-color: #abefff;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 10px;
}
#search:hover {
    background-color: #5cbcd2;
    cursor:pointer;
}